/* TABLET */
@media screen and (min-width: 768px) {


    /* SECTION APP */
    .column {

        display: flex;


    }
}



/* DESKTOP */

@media screen and (min-width: 992px) {

    /* SECTTION NAV BAR */
    .hamburger-menu {
        display: none;
    }

    .main-menu {
        display: flex;
    }

    /* SECTION PLANNING */

    .container .row-planning {
        flex-direction: flex;
    }

}