/* TABLET */
@media screen and (min-width: 768px) {


    /* SECTION APP */
    .row {

        flex-direction: row;
    }

    .card-big {
        flex-basis: calc(100%/ 3 * 2 - 15px);
    }

    .card-small {
        display: none;
    }
}



/* DESKTOP */

@media screen and (min-width: 992px) {

    /* SECTTION NAV BAR */
    .hamburger-menu {
        display: none;
    }

    .main-menu {
        display: flex;
    }

    /* SECTION PLANNING */

    .container .row-planning {
        flex-direction: row;
    }

}