/* Color */
/* #0084fd Blue Navbar
#9792e3 Planning
*/


/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Generic */

.container {

    margin: 0 auto;
    width: 80%;
    height: 100%;
}

ul {
    list-style-type: none
}

a {
    text-decoration: none;
    color: black;
}

header {

    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    z-index: 1;
    background-color: #0084fd;
    height: 70px;
    box-shadow: 0 1px 3px lightgrey;
    height: 70px;

}

body {
    margin-top: 70px;
}

/* Utilities */

/* Header */

/* NAVBAR-FIX */

#navbar {

    margin: 0 auto;
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main-menu {
    display: none;
}

#navbar ul li {
    display: inline;

    font-size: 20px;
}


/* Main */

/* SECTION APP */

.row {
    display: flex;
    flex-direction: column;
    border: 5px dashed red;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.column {
    flex-basis: 30%;
    border: 1px dashed black;
    padding: 10px;
    background-color: #0bac19;
    margin-bottom: 10px;
}

.card {
    background-color: yellow;
    border-radius: 10px;

    color: rgb(16, 15, 15);
    border: 1px black dashed;

}


/* SECTION PLANNIG */

#planning {
    background-color: #9792e3;
    height: 300px;
}


.row-planning {
    flex-direction: column;
    display: flex;
}

.col-planning {
    flex-basis: 50%;
    border: 1px black dashed;
}

/* SECTION TESTIMONIAL */



#testimonial {
    background-color: #0bac19;
    height: 300px;
}


.row-testimonial {
    flex-direction: column;
    display: flex;
}

.col-testimonial {
    flex-basis: calc (100% / 3);
    border: 1px black dashed;
}



/* SECTION BENEFITS*/


#benefits {
    background-color: #9792e3;
    height: 100%;
}

/* Footer */