/* Color */
/* #Blue Navbar #0084fd 
 Planning #9792e3
card #b5dcff
text-col #111   
*/



/* card background */

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Generic */

.container {

    margin: 0 auto;
    max-width: 600px;

}

ul {
    list-style-type: none
}

a {
    text-decoration: none;
    color: black;

}

img {
    max-width: 100%;
}

header {

    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    z-index: 1;
    background-color: #0084fd;
    height: 70px;
    box-shadow: 0 1px 3px lightgrey;
    height: 70px;

}

body {
    margin-top: 70px;
    font-family: 'PT Sans', sans-serif;
}

section {
    margin-bottom: 70px;
}

/* Utilities */

.d-inline-b {
    display: inline-block;
}

.mb-50 {
    margin-bottom: 50px;
}

.mr-20 {
    margin-right: 20px;
}


.f-50 {
    flex-basis: 50%;
}

.center {
    display: flex;
    justify-content: center;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

/* BUTTON */

.btn {
    padding: 5px 20px;
    border: 1px solid rgb(204, 197, 197);
    border-radius: 30px;

}

.btn-light {
    background-color: white;
    color: black;
}

.btn-blue {
    background-color: #0084fd;
    color: white;
    width: 14rem;
    height: 3rem;
    text-align: center;
    vertical-align: middle;
    line-height: 2rem;
}



/* Header */

/* NAVBAR-FIX */

#navbar {


    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.main-menu {
    display: none;
}

#navbar ul li {
    display: inline;
    margin-left: 1.5rem;
    font-size: 20px;
}

.hamburger {
    font-size: 1.5rem;
}

/* Main */

/* SECTION APP */

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 -10px;

    align-content: stretch;


}

.column {
    width: 100%;
    padding: 10px 0;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;

}

.card {

    border-radius: 10px;
    padding: 2rem;
    color: rgb(16, 15, 15);

    height: 100%;
    width: 100%;

}

#app .card {
    background-color: #b5dcff;
}


#app .card h3 {
    font-weight: 700;
    color: #0084fd;
    font-size: 35px;
    margin-bottom: 2rem;
    text-align: center;
}

#app .card p {
    font-weight: 700;
    color: #5a7081;
    margin-bottom: 2rem;
    font-size: 20px;
}

#app .card .btn {
    font-weight: 700;

    margin-bottom: 2rem;
    font-size: 20px;
}

.i-special {
    color: #0084fd;
    font-size: 130px;
    line-height: 700;

}


.btn-benefits {
    background-color: #9792e4;
    color: white
}


/* SECTION PLANNIG */

#planning {
    background-color: #9792e3;
    padding: 4rem 2rem;
    color: white;
    margin-top: 5rem;

}

#planning .image {
    display: block;
    margin: 0 auto;
}

#planning .title {
    margin: 5rem 0 3rem;
    font-size: 36px;
}

.col-planning {
    flex-basis: 50%;
    padding: 20px;

}

.app-devolpment {
    margin: 1rem 0;
    padding: 2rem;
    color: #111;
    background: white;
}

#planning .app-devolpment {
    margin: 1rem 0;
    font-size: 1.5rem;
    border-radius: 50px;
}

#planning .app-devolpment {
    font-style: italic;
    font-size: 1.125rem;
}

.app-devolpment .icon-planning {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 2rem auto 0;
    background: #9792e4;
    border-radius: 50%;
    font-size: 1rem;
}


/* SECTION TESTIMONIAL */

#testimonial {

    font-size: 25px;

}


.title-h4 {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 25px;
}

.middle-title {
    color: #9792e4;
    font-size: 2.25rem;
    margin-bottom: 32px;
}

.text-p {
    margin-bottom: 32px;
}

.testimonial-card {
    border-radius: 5rem;

    padding: 32px;
    color: var(--text-col);
    background-color: #9792e4;
    color: white;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

}

.card-content-testimonial {
    margin-left: 30px;
}

.card-image-testimonial {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 16px;
}

.card-image-testimonial img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    font-weight: 700;
    margin-top: 40px;
}




/* SECTION BENEFITS*/


#benefits {
    background-color: #9792e3;
    padding: 50px 30px;
    margin-bottom: 50px
}


.number-card {
    font-size: 55px;
    color: #9792e4;
    margin-bottom: 26px;

}

.card-benefits {
    padding: 32px;
    color: black;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 40px;

}

.middle-text-benefits {
    color: #9792e4;
    margin-bottom: 23px;
}

.card-ptext-benefits {
    margin-bottom: 26px;
    color: rgba(0, 0, 0, 0.55)
}


/* SECTION ABOUT */

.row-about {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    border: 1px dashed black;
}

.about-big {
    flex-basis: 80%;
}

.about-small {
    flex-basis: 20%;
}



/* SECTION STARTED */


#started {
    background-color: #9792e3;
    text-align: center;
    color: white;
    margin-bottom: 0;
    padding: 60px;
}


.start-one {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 25px
}

.start-due {
    margin-bottom: 25px;
    font-size: 1.875rem;
}

.p-text-start {
    margin-bottom: 30px;
}

.start-tre {
    margin-bottom: 25px;
    font-size: 3.75rem;
    color: #fdc15f
}

.btn-start {
    background-color: white;
    color: #9792e3;
    width: 14rem;
    height: 4rem;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    line-height: 3.5rem;
    vertical-align: auto;
    font-size: 1.2rem;
    margin-bottom: 25px;
}






/* Footer */

footer {
    padding: 32px 32px;
    font-size: 14px;
    background: #333;
}



.footer-contents {
    max-width: 400px;
    margin: 0 auto;
}

.text-footer {
    margin-bottom: 40px;
}


/* FONT */

.white-text {
    color: white;
}

.purple-text {
    color: #9792e3;
}